.h {
  &-container {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    height: 380vh;
  }
}

.ip {
  &-page {
    position: absolute;
    height: 200vh;
    background-color: $originalPink;
    width: 100%;
    z-index: 600;
    top: 0;
    pointer-events: none;
  }

  &-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $white;
    padding: 0 2rem;
    animation: intro 1s ease-in-out;

    & .Typewriter {
      & span {
        font-size: 2rem;
      }
    }
  }

  &-typewriter {
    height: 8rem;
  }

  &-title {
    font-size: 7rem;

    &-container {
      position: relative;
    }

    &-empty {
      color: transparent;
      -webkit-text-stroke: .1rem $white;
    }

    &-full {
      color: $white;
      position: absolute;
      top: 0;
      animation: title 4s ease-in-out infinite;
    }
  }
}

.is {
  &-container {
    height: 5em;
    margin: 1.5rem;
    width: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:hover {
      .is-text-last {
        opacity: 1;
      }
    }
  }

  &-text {
    margin-left: 5.5rem;
    transform: rotate(-55deg);
    width: 9rem;
    position: relative;

    & p {
      font-size: 1.2rem;
    }

    &-first {
      color: transparent;
      -webkit-text-stroke: .08rem $white;
    }

    &-last {
      position: absolute;
      color: $white;
      top: 0;
      opacity: 0;
    }
  }
}

.dp {
  &-card {
    &-content {
      &-icon {
        display: flex;
      }
    }
  }
}

.nnp {
  &-page {
    margin-top: 100vh;
    width: 100%;
    height: 150vh;
  }

  &-stencil {
    z-index: 5;
    top: 50vh;
    position: fixed;
    width: 200%;
    max-width: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-clickable {
    z-index: 15;
    top: 50vh;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 30%;
    opacity: 0;
    background-color: blue;

    &.active {
      cursor: pointer;
    }
  }

  &-title {
    text-transform: uppercase;
    position: fixed;
    bottom: 36vh;
    text-align: center;
    width: 100%;
    right: 10%;
    font-size: 1.2rem;
    font-weight: 700;
    color: $originalPink;
    writing-mode: vertical-rl;
    text-orientation: upright;
    z-index: 14;
  }

  &-transition {
    &-enter {
      transform: translateX(100%);
      opacity: 0;
    }

    &-enter-active {
      transform: translateX(0);
      opacity: 1;
      transition: transform 500ms, opacity 300ms;
    }

    &-exit {
        transform: translateX(0);
        opacity: 1;
    }

    &-exit-active {
      transform: translateX(-100%);
      opacity: 0;
      transition: transform 500ms, opacity 300ms;
    }
  }
}

.ndp {
  &-page {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 150;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    background-color:  $originalPink;
  }

  &-wave {
    width: 200%;
    position: absolute;
    margin-top: -15rem;
    top: 0;
    display: flex;

    & img {
      width: 100%;
      height: 15rem;
    }
  }
}

@media (min-width: 407px) {
  .ip {
    &-title {
      font-size: 8rem;
    }

    &-typewriter {
      height: 7rem;
    }

    &-container {
      & .Typewriter {
        & span {
          font-size: 2rem;
        }
      }
    }
  }

  .is {
    &-container {
      margin: 2rem;
    }
  }

  .nnp {
    &-clickable {
      width: 70%;
      height: 25%;
    }

    &-title {
      bottom: 39vh;
    }
  }
}

@media (min-width: 480px) {
  .ip {
    &-title {
      font-size: 5rem;
    }

    &-typewriter {
      height: 3.5rem;
    }

    &-container {
      & .Typewriter {
        & span {
          font-size: 1.5rem;
        }
      }
    }

    &-title {
      &-empty {
        -webkit-text-stroke: .15rem $white;
      }
    }
  }

  .is {
    &-container {
      height: 5rem;
      margin: 3rem;
      width: 5rem;
    }
  }

  .nnp {
    &-stencil {
      width: 130%;
    }

    &-clickable {
      width: 42%;
      height: 60%;
    }

    &-title {
      bottom: 22vh;
      right: 24%;
      font-size: 1.5rem;
    }
  }
}

//large phone landscape
@media (min-width: 768px) and (orientation: landscape) {
  .ip {
    &-title {
      font-size: 6.5rem;
    }

    &-typewriter {
      height: 3.8rem;
    }

    &-container {
      & .Typewriter {
        & span {
          font-size: 2.25rem;
        }
      }
    }
  }

  .is {
    &-container {
      height: 7rem;
      margin: 4rem;
      width: 7rem;
    }

    &-text {
      margin-left: 7rem;
      width: 10rem;

      & p {
        font-size: 1.5rem;
      }
    }
  }

  .nnp {
    &-stencil {
      width: 100%;
    }

    &-title {
      bottom: 24vh;
      right: 30%;
      font-size: 1.5rem;
    }
  }
}

//tablets
@media (min-width: 768px) and (orientation: portrait) {
  .ip {
    &-title {
      font-size: 15rem;

      &-empty {
        color: transparent;
        -webkit-text-stroke: .18rem $white;
      }
    }

    &-typewriter {
      height: 17rem;
    }

    &-container {
      & .Typewriter {
        & span {
          font-size: 4rem;
        }
      }
    }
  }

  .is {
    &-container {
      height: 9rem;
      margin: 3.5rem;
      width: 9rem;
    }

    &-text {
      margin-left: 10rem;
      width: 15rem;

      & p {
        font-size: 2rem;
      }
    }
  }

  .nnp {
    &-stencil {
      width: 200%;
    }

    &-title {
      bottom: 32vh;
      right: 10%;
      font-size: 2.5rem;
    }

    &-clickable {
      width: 70%;
      height: 40%;
    }
  }
}

//small screens
@media (min-width: 1024px) {
  .ip {
    &-title {
      font-size: 9rem;

      &-empty {
        color: transparent;
        -webkit-text-stroke: .2rem $white;
      }
    }

    &-typewriter {
      height: 7rem;
    }

    &-container {
      & .Typewriter {
        & span {
          font-size: 3rem;
        }
      }
    }
  }

  .is {
    &-container {
      height: 10rem;
      margin: 4rem;
      width: 10rem;
    }

    &-text {
      margin-left: 10rem;
      width: 15rem;

      & p {
        font-size: 2rem;
      }
    }
  }

  .nnp {
    &-stencil {
      width: 120%;
    }

    &-title {
      bottom: 32vh;
      right: 26%;
      font-size: 2rem;
    }

    &-clickable {
      width: 40%;
      height: 40%;
    }
  }
}

//large screens
@media (min-width: 1200px) {
  .ip {
    &-title {
      font-size: 11rem;
    }

    &-typewriter {
      height: 9rem;
    }

    &-container {
      & .Typewriter {
        & span {
          font-size: 4rem;
        }
      }
    }
  }

  .nnp {
    &-stencil {
      width: 100%;
    }

    &-clickable {
      width: 35%;
      height: 50%;
    }

    &-title {
      bottom: 25vh;
      right: 30%;
      font-size: 2rem;
    }
  }
}
