@media (min-width: 407px) {
  .ip {
    &-title {
      font-size: 8rem;
    }

    &-typewriter {
      height: 7rem;
    }

    &-container {
      & .Typewriter {
        & span {
          font-size: 2rem;
        }
      }
    }
  }

  .is {
    &-container {
      margin: 2rem;
    }
  }

  .ntp {
    &-dest {
      &-env {
        font-size: 2.5rem;
        margin-top: 4.5rem;
      }

      &-point {
        height: 1.6rem;
        width: 1.6rem;
      }
    }

    &-content {
      &-hide {
        height: calc(49% - 1rem);
      }
    }
  }
}

@media (min-width: 480px) {
  .ip {
    &-title {
      font-size: 5rem;
    }

    &-typewriter {
      height: 3.5rem;
    }

    &-container {
      & .Typewriter {
        & span {
          font-size: 1.5rem;
        }
      }
    }

    &-title {
      &-empty {
        -webkit-text-stroke: .15rem $white;
      }
    }
  }

  .is {
    &-container {
      height: 5rem;
      margin: 3rem;
      width: 5rem;
    }
  }

  .nnp {
    &-stencil {
      & img {
        height: 100%;
      }
    }
  }

  .ntp {
    &-dest {
      &-env {
        font-size: 2rem;
        margin-top: 0;
      }

      &-point {
        height: 1.2rem;
        width: 1.2rem;
      }
    }

    &-content {
      &-hide {
        height: calc(48% - 1rem);
      }
    }
  }
}

//large phone landscape
@media (min-width: 768px) and (orientation: landscape) {
  .ip {
    &-title {
      font-size: 6.5rem;
    }

    &-typewriter {
      height: 3.8rem;
    }

    &-container {
      & .Typewriter {
        & span {
          font-size: 2.25rem;
        }
      }
    }
  }

  .is {
    &-container {
      height: 7rem;
      margin: 4rem;
      width: 7rem;
    }

    &-text {
      margin-left: 7rem;
      width: 10rem;

      & p {
        font-size: 1.5rem;
      }
    }
  }

  .nnp {
    &-stencil {
      & img {
        height: 100%;
      }
    }
  }

  .ntp {
    &-dest {
      &-env {
        font-size: 2rem;
        margin-top: 0;
      }

      &-point {
        height: 1.2rem;
        width: 1.2rem;
      }
    }

    &-content {
      &-hide {
        height: calc(48% - 1rem);
      }
    }
  }
}

//tablets
@media (min-width: 768px) and (orientation: portrait) {
  .ip {
    &-title {
      font-size: 15rem;

      &-empty {
        color: transparent;
        -webkit-text-stroke: .18rem $white;
      }
    }

    &-typewriter {
      height: 17rem;
    }

    &-container {
      & .Typewriter {
        & span {
          font-size: 4rem;
        }
      }
    }
  }

  .is {
    &-container {
      height: 9rem;
      margin: 3.5rem;
      width: 9rem;
    }

    &-text {
      margin-left: 10rem;
      width: 15rem;

      & p {
        font-size: 2rem;
      }
    }

    &-content {
      top: -4rem;
      left: -4rem;
      height: 18rem;
      width: 18rem;

      & tspan {
        font-size: 2rem;
      }
    }
  }

  .tp {
    &-clickable {
      width: 50rem;
    }

    &-content {
      & img {
        height: 28rem;
      }
    }
  }

  .nnp {
    &-stencil {
      & img {
        height: 80%;
      }
    }
  }

  .ntp {
    &-dest {
      &-env {
        font-size: 3.5rem;
        margin-top: 4.5rem;
      }

      &-point {
        height: 2rem;
        width: 2rem;
      }
    }
  }
}

//small screens
@media (min-width: 1024px) {
  .ip {
    &-title {
      font-size: 9rem;

      &-empty {
        color: transparent;
        -webkit-text-stroke: .2rem $white;
      }
    }

    &-typewriter {
      height: 7rem;
    }

    &-container {
      & .Typewriter {
        & span {
          font-size: 3rem;
        }
      }
    }
  }

  .is {
    &-container {
      height: 10rem;
      margin: 4rem;
      width: 10rem;
    }

    &-text {
      margin-left: 10rem;
      width: 15rem;

      & p {
        font-size: 2rem;
      }
    }
  }

  .ntp {
    &-dest {
      &-env {
        font-size: 3rem;
        margin-top: 2.5rem;
      }

      &-point {
        height: 2rem;
        width: 2rem;
      }
    }
  }

  .tp {
    &-clickable {
      width: 48rem;
    }

    &-content {
      & img {
        height: 27rem;
      }
    }
  }
}

//large screens
@media (min-width: 1200px) {
  .ip {
    &-title {
      font-size: 11rem;
    }

    &-typewriter {
      height: 9rem;
    }

    &-container {
      & .Typewriter {
        & span {
          font-size: 4rem;
        }
      }
    }
  }

  .tp {
    &-content {
      & img {
        height: 24rem;
      }
    }
  }

  .nnp {
    &-text {
      font-size: 10rem;

      & span {
        font-size: 10rem;
        -webkit-text-stroke: .2rem $originalPink;
      }
    }
  }

  .ntp {
    &-dest {
      &-env {
        font-size: 4rem;
        margin-top: 1rem;
      }

      &-point {
        height: 2rem;
        width: 2rem;
      }
    }
  }
}
